<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="COG - Automated Testing">
  <test thread-count="5" name="Login Page Test">
    <classes>
      <class name="COG.LoginPageTest"/>
    </classes>
  </test>
    <test thread-count="5" name="Select Club Page Test">
    <classes>
      <class name="COG.SelectClubPageTest"/>
    </classes>
  </test>
    <test thread-count="5" name="Dashboard Page Test">
    <classes>
      <class name="COG.DashboardPageTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
